{% extends 'base.html' %}

{% block title %}Eason's Playground - Projects{% endblock %}

{% block custom-includes %}
  {% load static %}
  {% load compress %}

  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'projects/css/style.sass' %}" />
  {% endcompress %}
{% endblock %}

{% block jumbotron %}
  <h1 class="display-1 text-center">My projects</h1>
{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="category-title">- Maker -</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3">
          <img class="card-img-top" src="{% static 'projects/img/placeholder.svg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p><a class="btn btn-primary" href="#" role="button">瞭解更多 &raquo;</a></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">2018.02.20
              <span class="float-right">
                <a href="#" class="badge badge-secondary">部落格</a>
                <a href="#" class="badge badge-secondary">部落格</a>
              </span>
            </small>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="card mb-3">
          <img class="card-img-top" src="{% static 'projects/img/placeholder.svg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="card mb-4">
          <img class="card-img-top" src="{% static 'projects/img/placeholder.svg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="card mb-3">
          <img class="card-img-top" src="{% static 'projects/img/placeholder.svg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    <hr/>
    <h2 class="category-title">- Scripts -</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3">
          <img class="card-img-top" src="{% static 'projects/img/placeholder.svg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
{% endblock %}
